body, html{
    height: 100vh;
}



body{
    margin:0;
    display:grid;
  /*   height: 100vh;  you can use the code in line 1 instead or in line 10 they both do the same*/
grid-template-columns: auto 27% 27% 27%;
grid-template-rows: 8% 30% auto 10%;
grid-template-areas: 

"sidebar header header header"
"sidebar se1 se2 se3"
"sidebar main main main"
"sidebar footer footer footer"
}


a.nav-toggle{ /* too find element click element picker in inspector*/
color:red;
font-weight: bold;

}


i {
    color: red;
}

ul{
    list-style: none;
    /*float:right;*/           /*all the closed comments are optional because of the js  repsponsive menu*/
   /* margin: 5px 15px;*/
 
    /*padding: 0;*/


}
li{
   /*display: inline;*/
   padding: 5px;
}

li a{
    margin: 10px;
    color: black;
    height:30px;
    width: 50px;
    border: 1px solid;
    background: red;
    text-decoration: none;
    border-radius: 1px;
}



h1{
    margin: auto;

}

aside {
    grid-area: sidebar;
    background-color: black;
    text-align: center
}

header{
    grid-area: header;
    background-color:yellow;
}
section:nth-of-type(1){
    grid-area: se1;
    background-color: blueviolet;
    background-image: url(photo-gallery-4.jpg);
background-size: cover;   
background-position: center; 

}



section:nth-of-type(2){
    grid-area: se2;
    background-color: rgb(43, 46, 226);
}
section:nth-of-type(3){
    grid-area: se3;
    background-color: rgb(43, 220, 226);
}

main{
    grid-area:main;
    background-color: lightcoral;
}

footer{
    grid-area: footer;
    background-color:lightblue;
}

